// ****************************************************************
// * IKURA - Clean, Minimal, Responsive, Shopware Template
// * Copyright 2014, TAB10 (http://tab10.de)
// ****************************************************************

// ---------------------------------------------------------------
// RESPONSIVE EMOTIONS
// ---------------------------------------------------------------

.emotion-listing{
    margin: 0 0 @baseSpacing -@gutter;
    height: auto !important;
}

.emotion-element{
    margin: 0 0 @gutter @gutter;
    float: left;
    position: relative;
    .transition(@transitionAll);

    h2{
        padding: @baseSpacing/2 0;
        background: rgba(255,255,255, 0.8);
        border-radius: @baseBorderRadius/2;
    }

    .artbox,
    .teaser_box {

        &:hover{
            box-shadow:@baseBoxShadowMid;
        }

        h3{
            padding: @baseSpacing/2 @baseSpacing*2 0 @baseSpacing/2;
            position: relative;
            font-family: 'fjalla one', sans-serif;
            color:@darkGrey;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }
    }

    .artbox{
        height: 200px;
        background: #fff;
        overflow: hidden;
        padding: @baseSpacing;
        position: relative;

        &:hover{
            .title_desc{
                height: 100%;
                background: rgba(255,255,255,0.9);
            }

            .price,
            .pseudoprice{
                .opacity(1);
            }
        }

        h3{
            padding: @baseSpacing/2;
        }

        a{
            display: block;

            h3{
                color: @darkGrey;
                font-weight: 300;
                font-size: 1em;
            }
        }

        .desc,
        .actions{
            display: none;
        }

        .exact_price,
        .pseudo{
            float: right;
        }

        .pseudo{
            color: @red;
            font-size: 0.8em;
            margin: -15px 0 0;
        }

        .price,
        .pseudoprice{
            color: @darkGrey;
            position: absolute;
            right: @baseSpacing;
            bottom: @baseSpacing;
            .opacity(0);
            .transition(@transitionAll);
            z-index: 100;
        }

        .title_desc{
            color:@darkGrey;
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(255,255,255,0.7);
            width: 100%;
            height: 0;
            z-index: 10;
            .transition(@transitionAll);
        }

        .pseudo_percent,
        .ico_tipp,
        .ico_esd{
            top:5px;
            left:5px;
        }
    }

    .artbox,
    .mapping,
    .teaser_box,
    .blog-entry figure {

        box-shadow: @baseBoxShadow;
        .transition(@transitionAll);

    }

    .article-element{
        .article_price_unit{
            display: none;
        }
    }
}

.emotion-col3{

    .col1{
        width: 33.3333333%-@gutter;
    }

    .col2{
        width: 66.666666%-@gutter;
    }

    .col3{
        width: 100%-@gutter;
    }
}

.emotion-col4{

    .col1{
        width: 25%-@gutter;
    }

    .col2{
        width: 50%-@gutter;
    }

    .col3{
        width: 75%-@gutter;
    }

    .col4{
        width: 100%-@gutter;
    }
}
// ---------------------------------------------------------------
// CATEGORY TEASER
// ---------------------------------------------------------------
.teaser_box{
    position: relative;
    overflow: hidden;
    background: #fff;

    img{
        display: block;
        margin: 0 auto;
    }

    &:hover{
        .teaser_headline{
            height: 100%;
            background: rgba(255,255,255,0.9);
        }
    }
}

.teaser_headline{
    position: absolute;
    color: @darkGrey;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 0;
    z-index: 10;
    .transition(@transitionAll);
}

.emotion-link{

    a{
        background: rgba(255,255,255,0.5);
        display: block;
        position: relative;
        padding: @baseSpacing 0;
        margin: 0 0 @baseSpacing*4;
        border-top: 2px solid @midGrey;
        border-radius: 0 0 @baseBorderRadius/2 @baseBorderRadius/2;

        &:hover{
            background: rgba(255,255,255,0.7);
            color: @darkGrey;
        }

        .icon{
            position: absolute;
            top: 50%;
            margin: -8px 0 0;
            right:@baseSpacing;
        }
    }
}

// ---------------------------------------------------------------
// SLIDER ARTICLES
// ---------------------------------------------------------------
.article-slider-emotion,
.viewed-slider,
.topseller-slider,
.bought-slider{
    .flex-viewport{
        padding: @baseSpacing ;
        margin: -9px 0 0 -@baseSpacing;
    }

    img{
        box-shadow: none;
    }

    .article_price_unit,
    .article-purchase-unit{
        display: none;
    }

    .artbox{
        .price{
            display: block;
        }
    }
}

.topseller-slider,
.viewed-slider,
.bought-slider{
    .slide_article{
        width: 150px;
        margin: 0 auto;

        h3{
            min-height: 40px;
        }

        figure{
            height: 125px;
        }
    }
}

.sliding_container{
    .slide_articles a{
        float: left;
    }
}

.slide_articles{
    float: left;
}

.slide_article,
.slide_articles{
    font-size: 0.8em;
    width: 224px;
    display: block;
    padding: @baseSpacing;
    border-radius: @baseBorderRadius/2;
    text-align: center;

    h3{
        font-size: 1.2em;
    }

    img{
        margin: 0 auto;
        display: block;
        max-height: 132px;
        margin: 0 auto @baseSpacing;
    }

    .price, .pseudoprice {
        font-size: 1.2em;
        font-weight: 400;
    }

    .title_desc p {
        font-size: 0.8em;
    }
}

// overrides
.emotion-element{
    .article-slider-emotion {

        .artbox {
            height: auto;
            min-height: 274px;
            margin: 0 auto;

            &:hover{
                box-shadow: none;
            }

            h3{
                font-size: 1.1em;
                min-height: 40px;

                &:after{
                    display: none;
                }
            }

            .price,
            .pseudoprice{
                right: 0;
                width: 100%;
            }

            .pseudo{
                float: none;
                font-size: 1em;

                em{
                    font-style: normal;
                    text-decoration: line-through;
                    color: @red;
                }
            }
        }
    }
}

.article-slider-emotion{

    h2{
        border-bottom: 2px solid @darkGrey;
    }

    .flex-control-nav{
        bottom: -16px;
    }

    &:hover{
        .flex-control-nav {
            .opacity(1);
        }
        .flex-direction-nav{
            a{
                margin: 0;
                opacity: 1;
            }
        }
    }
}

.viewed-slider,
.bought-slider{
    .price.up{
        em{
            font-style: normal;
            text-decoration: line-through;
            color: @red;
            display: block;
        }
    }
}

// ---------------------------------------------------------------
// Ajax Slider TOPSELLER, NEWARTICLES
// ---------------------------------------------------------------
.ajaxSlider{
    position: relative;
    min-height: 100px;
    .cf;

    .loader{
        text-indent: -9999em;
        background: url("@{imgPath}/ico_ajax-loader.gif") no-repeat rgba(255,255,255, 0.7) center center;
        height:16px;
        width:16px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
    }
}

.sliding_outer,
.sliding_container,
.article-slider-emotion .slide{
    width: 100% !important;
}

.emotion-element .outer-article-box .artbox .price{
    display: block;
}

.outer-article-box{
    float: left;
    margin: 0 0 0 3%;
    text-align: center;
    .transition(@transitionAll);

    &:first-child{
        margin: 0 !important;
    }
    // parent columns
    .col1 &{
        width: 100% !important;
    }

    .col2 &{
        margin: 0 0 0 4%;
    }

    .col4 &{
        margin: 0 0 0 2.6%;
    }

    .article-thumb-wrapper{
        margin: 0 0 @baseSpacing;
    }

    a{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .article-purchase-unit{
        display: none;
    }

    .title{
        min-height: 40px;
    }

    .artbox {
        .price,
        .pseudoprice{
            right: 0;
            width: 100%;
        }

        h3{
            padding: 0;
        }

        .pseudo{
            float: none;
            font-size: 1em;

            em{
                font-style: normal;
                text-decoration: line-through;
                color: @red;
            }
        }
    }
}

.slide_numbers{
    position: absolute;
    right: @baseSpacing;
    top: 24px;
    font-size: 0.7em;
}

.ajaxSlider{
    position: relative;
    overflow: hidden;

    &:hover{
        .rightArrow{
            right: 0;
        }

        .leftArrow{
            left: 40px;
        }
    }
}

.rightArrow,
.leftArrow{
    position: absolute;
    top: 44%;
    text-indent: -9999em;
    z-index: 10;


    &:focus{
        outline: none;
    }

    &:before{
        position: absolute;
        right: 12px;
        top: 0;
        content: "\f105";
        font-family: "font-awesome";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0;
        font-size: 2.8em;
        color: #fff;
        text-shadow: 0 0 1px #000;
    }

    .touch &{
        .opacity(1);
    }
}
.rightArrow{
    right: -40px;
}

.leftArrow{
    left: 0;

    &:before{
        content: "\f104";
    }
}

.banner-slider-element{
    img{
        width: 100%;
    }
}

// ---------------------------------------------------------------
// SLIDER MANUFACTURER
// ---------------------------------------------------------------
.slider-manufacturer{
    position: relative;
    background: #fff;
    box-shadow: @baseBoxShadow;
    padding: @baseSpacing 0;
    .opacity(1);
    .transition(@transitionAll);

    .flex-direction-nav a{
        .opacity(1);
    }

    &.loading{
        .opacity(0)
    }


    .flex-control-nav{
        bottom: -25px;
    }
}

// ---------------------------------------------------------------
// MAPPING
// ---------------------------------------------------------------
.mapping{
    position: relative;
    overflow: hidden;

    img{
        position: relative;
        z-index: 9;
    }

    &:hover{
        img{
            box-shadow: @baseBoxShadow;
        }
    }
}

.banner-mapping{
    position: absolute;
    top: 0;
    left: 0;
    height: auto !important;
    width: auto !important;

    a{
        display: block;
        position: absolute;
        z-index: 10;
    }
}

.banner-mapping-tooltip{
    z-index: 100;
    position: absolute;
    display: none;

    span{
        background: #000;
        background: rgba(0,0,0,0.4);
        color: #fff;
        padding: @baseSpacing/2 @baseSpacing;
        display: block;
        text-align: center;
    }

    &.hover{
        display: inline-block;
    }
}

.youtube-element{
    height: 500px;
}


// ---------------------------------------------------------------
// BLOG
// ---------------------------------------------------------------
.blog-outer-container{
    margin: 0 0 0 -@gutter;
}

.blog-entry{
    float: left;
    margin: 0 0 0 @gutter;

    figure{
        margin: 0 0 @baseSpacing;
    }
}

@media only screen and (max-width: @mediaBreakpointTablet) {
    .article-slider-emotion,
    .viewed-slider,
    .topseller-slider,
    .bought-slider{
        .flex-viewport{
            padding: @baseSpacing ;
            margin: -9px 0 0 -@baseSpacing;
        }
    }

    .slide_numbers{
        top: 18px;
    }
    .rightArrow:before, .leftArrow:before{
        top: -12px;
    }

    .emotion-col4 .col3{
        width: 100%-@gutter;
    }
}

@media only screen and (max-width: @mediaBreakpointPhoneLandscape) {

    .emotion-col3,
    .emotion-col4{
        .col1, .col2, .col3, .col4{
            width: 100%-@gutter;

            .emotion-inner-element{
                .blog-entry{
                    width: 100%-@gutter !important;
                }
            }
        }
    }

    .emotion-col4 .col1 {
        width: 50%-@gutter;
    }

    // overrides
    .emotion-element{

        &.col4{
            .outer-article-box{
                width:48% !important;

                &:nth-child(3){
                    margin: 0;
                }
            }
        }

        .article-slider-emotion {

            .flex-control-nav {
                bottom: 10px;
            }

            .artbox {
                h3{
                    overflow: visible;
                    white-space: normal;
                }
            }
        }
    }

    .teaser_box img{
        margin: 0;
    }
}


@media only screen and (max-width: @mediaBreakpointPhonePortrait) {
    .emotion-element{

        &.col3, &.col1{
            .outer-article-box{
                width:100% !important;
                margin: 0 !important;
            }
        }
    }

    .emotion-col4 .col1 {
        width: 100%-@gutter;
    }
}