// ****************************************************************
// * IKURA - Clean, Minimal, Responsive, Shopware Template
// * Copyright 2014, TAB10 (http://tab10.de)
// ****************************************************************

#page_header{
    background: #000;
    width: 100%;
}

#logo{
    display: block;
    float: left;
    max-width: 250px;
    width: 18%;
    position: relative;
    z-index: 1000;

    img{
        width: 100%;
    }
}

#page_header_top{
    position: relative;
    z-index: 101;
}

// Header Topbar
#page_topbar{
    width: 100%;
    height: 34px;
    position: relative;
    z-index: 10000;
}

#page_header_topbar{
    float: right;
    position: relative;
    z-index: 101;
    font-size: 0.7em;
}

#sub_option_toggle,
.my_options > a.account,
.ajax_basket,#search_toggle{
    width: 45px;
    height: 40px;
    position: relative;

    &:hover{
        .icon:after, &:after{
            color: @highlightColor;
        }
    }
}

.my_options,
.sub_options,
#shopnavi {
    float: left;
}

.sub_options{
    width: 55px;
    position: absolute;
    right: 80px;

    &.active{
        .cornerTopForLayers();

        &:after,
        &:before{
            right: 61%;
            top: 36px;
            z-index: -1;
        }
    }
}

#sub_option_toggle{
    cursor: pointer;
    display: block;
    color:#fff;

    &.active{
        &:after{
            .rotate(45deg);
        }
    }

    &:after{
        position: absolute;
        left: 9px;
        top: 10px;
        content: "\f055";
        font-family: "font-awesome";
        display: inline-block;
        font-size: 1.5em;
        .transition(@transitionAll);
    }
}

.sub_opt_btn{
    background: #fff;
    border-bottom: 1px solid @midGrey;
    border-left: 1px solid @midGrey;
    border-right: 1px solid @midGrey;
    color: @darkGrey;
    cursor: pointer;
    width: 360%;
    border-radius: 0;
    padding: 14px 12px 0;
    height: 40px;
    display: none;
    margin: 0 0 0 -50px;
    float: left;
    .transition(@transitionAll);


    &:hover{
        background: @lightGrey;
        color: @highlightColor;

        .icon:after{
            color: @highlightColor;
        }
    }
}


.my_options > a.account,
.ajax_basket{
    cursor: pointer;
    padding: 12px 10px 0;
    color: #fff;
    float: left;
    border-radius:0 0 @baseBorderRadius @baseBorderRadius;
    .transition(@transitionAll);

    .icon:after{
        color: #fff;
        font-size: 1.8em;
    }

    .btn_text{
        .visuallyhidden;
    }

    .amount{
        font-size: 0.8em;
        right: 4px;
        bottom: 0;
        text-align: center;
    }
}

.my_options {

    .service{
        position: relative;
        float: left;
        z-index: 1;
    }
    .note{
        position: relative;
    }

    .service,
    .note{
        .icon:after{
            margin: 0;
            color: #fff;
        }
        &:hover{
            .icon:after{
                color: @highlightColor;
            }
        }
    }

    .notes_quantity{
        border:1px solid #fff;
        background: @highlightColor;
        color: #fff;
        font-size: 0.8em;
        height: 18px;
        padding: 3px 0 0;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        width: 18px;
        position: absolute;
        right: 5px;
        top: 2px;
        z-index: 2;
        .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
        .border-radius(50%);
    }
}

#servicenavi{
    background: #fff;
    font-size: 1em;
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
    width: 100%;
    min-width: 150px;
    .box-shadow(0 0 3px rgba(0,0,0,0.3));

    li, a{
        display: block;
        width: 100%;
    }

    li{

        &:first-child{
            border-top: none;

            &:before, &:after{
                background: #fff;
                content: "";
                display: block;
                height: 10px;
                width: 10px;
                position: absolute;
                top: -3px;
                left: 50%;
                margin: 0 0 0 -5px;
                .rotate(45deg);
                .transition(@transitionAll);
            }

            &:before{
                .box-shadow(0 0 3px rgba(0,0,0,0.3));
                z-index: -1;
            }

            &:after{
                &:hover{
                    background: #fff !important;
                }
            }

            &:hover{
                a, &:after{
                    background: #fff;
                }
            }
        }

        &:last-child{
            border-bottom: none;
        }
    }

    a{
        padding: @baseSpacing @baseSpacing*2 @baseSpacing @baseSpacing;
        position: relative;

        &:hover{
            background: #fff;
        }
        &:after{
            margin: -7px 0 0;
        }
    }
}

#shopnavi{
    float: left;
    position: relative;

    .quantity{
        border:1px solid #fff;
        color: #fff;
        font-size: 0.8em;
        height: 18px;
        padding: 3px 0 0;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        width: 18px;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 2;
        .box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
        .border-radius(50%);
        .gradient(#fdbc21, #f1b014);
    }
}

// ---------------------------------------------------------------
/// SEARCH
// ---------------------------------------------------------------
#topbar_search{
    position: relative;
    z-index: 100000000;
}

#search_toggle{
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 1002;
    .transition(@transitionAll);

    &:after{
        position: absolute;
        color: #fff;
        content: "\f002";
        font-family: "font-awesome";
        top:9px;
        left: 10px;
        font-size: 1.2em;
    }

    &.active{
        color: @highlightColor;

        &:after{
            content: "\f00d";
            left: 10px;
        }
    }

    &:hover{
        &:after{
            color: @highlightColor;
        }
    }
}

#searchcontainer{
    width: 0;
    opacity: 0;
    right: 45px;
    top:0;
    position: absolute;
    z-index: 1001;
    display: none;
    overflow: visible !important;
}


.inner_searchcontainer{
    position: relative;

    .ajax_loader{
        position: absolute;
        top: 10px;
        left: 5px;
        z-index: 2;
    }

    .form{
        position: relative;

        .icon{
            background: none;
            padding: 8px 12px 5px 12px;
            position: absolute;
            right: 3px;
            top: 3px;
            z-index: 2;
            height: 28px;
            border-radius:@baseBorderRadius/2;

            &:after{
                color: @darkGrey;
            }

            &:hover{
                background: @midGrey;
            }
        }
    }
}

#searchfield{
    border-color:#fff;
    color: @darkGrey;
    padding: 9px 40px 10px 25px;

    position: relative;
    z-index: 1;
    text-transform: uppercase;
    outline: none;

    &:focus,
    &:hover{
        outline: none;
        border-color:#fff;
    }
}

#submit_search_btn{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top:0;
    z-index: 3;
    height: 100%;
    width: 55px;
    text-indent: -9999em;
}

.thumbnail{
    float: left;
    margin: 0 @baseSpacing 0 0;
}

.ajax_basket_container{
    position: relative;
    z-index: 1;

    .ajax_loader{
        background: url("@{imgPath}/ajax-loader-dark.gif") no-repeat;
        position: absolute;
        left: 50%;
        top: 30px;
        margin: 0 0 0 -10px;
    }
}


.ajax_basket_result{
    background: #fff;
    font-size: 1em;
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    margin: 0 0 0 -100px;
    .box-shadow(0 0 3px rgba(0,0,0,0.3));
    .border-radius(@baseBorderRadius);

    .thumbnail{
        width:20px;
    }

    .btn{
        margin: 0;
    }

    .inner_cart{
        .row{
            border-bottom: 1px solid @lightGrey;

            &:first-child{
                border-top:1px solid transparent;

                a{
                    .cornerTopForLayers();

                    &:before, &:after{
                        right: 6.5%;
                    }

                    &:hover{
                        &:before,
                        &:after{
                            background: @lightGrey;
                        }
                    }
                }
            }

            a{
                display: inline-block;
                position: relative;
                background: #fff;
                padding: @baseSpacing @baseSpacing*2 @baseSpacing @baseSpacing;
                width: 100%;
                .border-radius(@baseBorderRadius @baseBorderRadius 0 0);

                &:hover{
                    background: @lightGrey;

                    .icon{
                        &:after{
                            color:@highlightColor;
                        }
                    }
                }

                .icon{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin: -8px 0 0;

                    &:after{
                        font-size: 1.8em;
                    }
                }
            }
        }

        img{
            border: 1px solid @midGrey;
        }
    }

    .inner_cart_bottom{
        padding: @baseSpacing;
        border-top: 1px solid #fff;

        .btn{
            float: left;

            &.checkout{
                float: right;
            }
        }
    }
}


// ---------------------------------------------------------------
//	LANGUAGE AND CURRENCY
// ---------------------------------------------------------------
#topbar,
.topbar_lang,
.topbar_currency{
    float: left;
}

// Flags
.topbar_lang{
    padding:8px;
    border-radius: 0 0 @baseBorderRadius @baseBorderRadius;

    .flag {
        background: url("@{imgPath}/ico-flags.png") no-repeat 0 0;
        display: block;
        width: 16px;
        height: 11px;
        text-indent: -9999px;
    }

    .de_DE {background-position: 0 0;}
    .en_GB {background-position: 0 -11px;}

    .select_wrap{
        padding: 0;
        background: none;
        border-color: rgba(0,0,0,0);

        &:after{
            font-size: 1.2em;
            right: 15px;
            top:3px;
            color: @darkGrey;
        }

        &:hover{
            box-shadow: none;

            select{
                color: rgba(0,0,0,0);
            }
            &:after{
                color: @highlightColor;
            }
        }
        &.instyle_error{
            border: none;
            background: none;
        }

        select{
            width: 110%;
            color: rgba(0,0,0,0);

            option{
                color: @darkGrey;
            }
        }

        .flag{
            position: absolute;
            left: 2px;
            top: 5px;
            z-index: 1;
        }

        .icon{
            right: 10px;
        }
    }
}

.topbar_currency{
    form{
        float: left;
    }

    input[type="submit"]{
        color: @darkGrey;
        border: none;
        background: none;
        padding: 0 @baseSpacing*2 0 0;
        .transition(@transitionAll);

        &:hover{
            color: @highlightColor;
        }

        &.active{
            font-weight: 700;
        }
    }
}


@media only screen and (max-width: @mediaBreakpointTablet) {

    #logo{
        margin: 0 !important;
        position: fixed;
        top:12px;
        width: 50px;

        img{
            display: inline-block;
        }
    }

    #page_topbar{
        height: 50px;
        position: fixed;
        background: #000;
    }

    #search_toggle{
        height: 50px;
        width: 50px;

        &:after{
            font-size: 1.5em;
            left: 15px;
            top: 12px;
        }
    }

    #searchcontainer{
        width: 50% !important;
        position: fixed;
        top: 4px;
    }

    .searchresult{
        z-index: 10000;
    }

    #topbar_search{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100001;
    }

    #shopnavi,
    .my_options{
        position: absolute;
    }

    #shopnavi{
        right: 40px;
    }

    .my_options{
        right: 80px;
    }

    .sub_options{
        right: 40px;
    }

    .btn_text{
        .visuallyhidden();
    }

    .note,
    .service{
        .btn_text{
            position: relative;
            height: auto;
            width: auto;
            margin: 0;
        }
    }

    .my_options a.account,
    .ajax_basket,
    #sub_option_toggle{
        width: 50px;
        height: 50px;
        box-shadow: @baseBoxShadow;
        font-size: 1.6em;
        margin: 0 4px 0 0;

        .icon:after{
            margin: 0;
        }
    }

    .my_options > a.account .amount,
    .ajax_basket .amount{
        display: none;
    }

    .sub_options.active:after,
    .sub_options.active:before{
        top: 46px;
    }

    .topbar_currency{
        position: relative;

        form{
            width: 50%;
            float: left;
        }

        input{
            height: 20px;
        }
    }

    #page_header_topbar {
        position: fixed;
        padding: 0 0 0 20%;
        width: 100%;
        left: 0;
        background: #000;
    }

    #servicenavi{

        li{
            &:first-child{
                &:before, &:after{
                    left: 33%;
                }
            }
        }
    }

    .ajax_basket_result{
        top: 70px;
        right: -30px;

        .inner_cart{
            .row{

                &:first-child{

                    a{
                        .cornerTopForLayers();
                        &:before, &:after{
                            right: 18%;
                        }
                    }
                }
            }
        }
    }

    .ajax_basket_container .ajax_loader {
        top: 30px;
        left: 50px;
    }
}

@media only screen and (max-width: @mediaBreakpointPhoneLandscape) {

    .inner_searchcontainer{
        .form{
            .icon{
                padding: 6px 8px 5px 16px;
            }
        }
    }

    #searchcontainer{
        width: 45% !important;
        z-index: 200000;
    }
}


